---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import TrustBar from '../components/TrustBar.astro';
import Colinas from '../components/Colinas.astro';
import SobreNosotros from '../components/SobreNosotros.astro';
import Servicios from '../components/Servicios.astro';
import Testimonios from '../components/Testimonios.astro';
import ReservaForm from '../components/ReservaForm.astro';
import FAQ from '../components/FAQ.astro';
import Contacto from '../components/Contacto.astro';
import Footer from '../components/Footer.astro';
---
<Layout>
  <Header />
  <main>
    <Hero />
    <TrustBar />
    <SobreNosotros />
    <Colinas />
    <Servicios />
    <Colinas flip />
    <Testimonios />
    <ReservaForm />
    <FAQ />
    <Contacto />
  </main>
  <Footer />
</Layout>